<div class="pt-8 p-3 signup-page-area" dir="rtl">
    <div class="signup-page-area-wrapper">
        <div class="container">
            <div class="grid grid-cols-12 gap-x-[0px] sm:gap-x-[30px]">
                <div class="lg:col-span-1"></div>
                <div class="col-span-12 lg:col-span-10">
                    <form [formGroup]="lessonForm">
                        <div class="grid grid-cols-12 gap-x-[0px] sm:gap-x-[30px]">
                            <div class="col-span-12 ">
                                <div class="signup-form-wrapper">
                                    <div class="signup-input-wrapper">
                                        <input formControlName="title" type="text"
                                            [class.error]="titleControl?.valid || titleControl?.untouched?'':titleControl?.errors?.['required']"
                                            placeholder=" العنوان باللغة العربية">

                                        <input formControlName="alt_title" type="text"
                                            placeholder=" العنوان باللغة الانجليزية (اختياري)  ">
                                    </div>
                                    <mat-error
                                        *ngIf="titleControl?.valid || titleControl?.untouched?'':titleControl?.errors?.['required']"
                                        class="mb-2">عنوان الدورة مطلوب</mat-error>
                                    <div class="signup-input-wrapper">
                                        <!-- <input type="text" placeholder="الايميل "> -->
                                        <textarea class="descriptionInp w-full bg-[#F5F5F5]" name="description"
                                            id="description" rows="2" formControlName="description"
                                            [class.error]="descriptionControl?.valid || descriptionControl?.untouched?'':descriptionControl?.errors?.['required']"
                                            placeholder="   وصف الدورة باللغة العربية"></textarea>

                                        <textarea formControlName="alt_description"
                                            class="descriptionInp w-full bg-[#F5F5F5]" name="alt_description"
                                            id="description" rows="2"
                                            placeholder="  وصف الدورة باللغة الانجليزية (اختياري)"></textarea>
                                    </div>
                                    <mat-error
                                        *ngIf="descriptionControl?.valid || descriptionControl?.untouched?'':descriptionControl?.errors?.['required']"
                                        class="mb-2">
                                        وصف الدورة مطلوب
                                    </mat-error>
                                    <div class="grid grid-cols-12" color="green">
                                        <mat-form-field class="lg:col-span-6 col-span-12 m-1.5">
                                            <mat-label>تاريخ البداية </mat-label>
                                            <input matInput [matDatepicker]="picker1">
                                            <mat-hint>MM/DD/YYYY</mat-hint>
                                            <mat-datepicker-toggle matIconSuffix
                                                [for]="picker1"></mat-datepicker-toggle>
                                            <mat-datepicker #picker1></mat-datepicker>
                                        </mat-form-field>

                                        <mat-form-field class="lg:col-span-6 col-span-12 m-1.5 ">
                                            <mat-label>تاريخ النهاية</mat-label>
                                            <input matInput [matDatepicker]="picker2">
                                            <mat-hint>MM/DD/YYYY</mat-hint>
                                            <mat-datepicker-toggle matIconSuffix
                                                [for]="picker2"></mat-datepicker-toggle>
                                            <mat-datepicker #picker2></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="grid grid-cols-12 signup-input-wrapper">
                                        <mat-form-field class="w-full lg:col-span-6 col-span-12 lg:m-1.5">
                                            <mat-label>اختر الصف الدراسي</mat-label>
                                            <mat-select name="course" formControlName="course_id">
                                                <mat-option *ngFor="let course of courses"
                                                    [value]="course.id">{{course.title}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <input class="w-full bg-[#F5F5F5] lg:col-span-6 col-span-12 lg:m-1"
                                            formControlName="duration" type="text" placeholder="الفترة الزمنية ">
                                    </div>
                                    <section class="example-section">
                                        <mat-checkbox formControlName="is_free" class="example-margin isFree"
                                            color="">الدرس مجاني
                                        </mat-checkbox>
                                        <!-- <mat-checkbox class="example-margin" [disabled]="true">Disabled</mat-checkbox> -->
                                    </section>
                                    <div class="p-2 border mb-2">
                                        <label>اختر الفيديو </label>
                                        <input type="file" placeholder="upload" (change)="onFileSelected($event)">
                                    </div>
                                    <div *ngIf="showProgress" class="p-2">
                                        <mat-progress-bar mode="determinate" [value]="uploadProgress">
                                        </mat-progress-bar>
                                    </div>
                                    <!-- {{lessonForm?.value | json}} -->
                                    <div class="sing-buttom mb-5">
                                        <button class="sing-btn" (click)="onUpload()">اضافة
                                            الدورة</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {{lessonForm.value | json}}
    </div>
</div>