<div class="pt-8 p-3 signup-page-area" dir="rtl">
    <div class="signup-page-area-wrapper">
        <div class="container">
            <div class="grid grid-cols-12 gap-x-[0px] sm:gap-x-[30px]">
                <div class="lg:col-span-1"></div>
                <div class="col-span-12 lg:col-span-10">
                    <form [formGroup]="lessonForm">
                        <div class="grid grid-cols-12 gap-x-[0px] sm:gap-x-[30px]">
                            <div class="col-span-12 ">
                                <div class="signup-form-wrapper">
                                    <div class="signup-input-wrapper">
                                        <input required formControlName="title" type="text"
                                            [class.error]="titleControl?.valid || titleControl?.untouched?'':titleControl?.errors?.['required']"
                                            placeholder=" العنوان باللغة العربية">

                                        <input formControlName="alt_title" type="text"
                                            placeholder=" العنوان باللغة الانجليزية (اختياري)  ">
                                    </div>
                                    <mat-error
                                        *ngIf="titleControl?.valid || titleControl?.untouched?'':titleControl?.errors?.['required']"
                                        class="mb-2">عنوان الدورة مطلوب</mat-error>
                                    <div class="signup-input-wrapper">
                                        <!-- <input type="text" placeholder="الايميل "> -->
                                        <textarea required class="descriptionInp w-full bg-[#F5F5F5]" name="description"
                                            id="description" rows="2" formControlName="description"
                                            [class.error]="descriptionControl?.valid || descriptionControl?.untouched?'':descriptionControl?.errors?.['required']"
                                            placeholder="   وصف الدورة باللغة العربية"></textarea>

                                        <textarea formControlName="alt_description"
                                            class="descriptionInp w-full bg-[#F5F5F5]" name="alt_description"
                                            id="description" rows="2"
                                            placeholder="  وصف الدورة باللغة الانجليزية (اختياري)"></textarea>
                                    </div>
                                    <mat-error
                                        *ngIf="descriptionControl?.valid || descriptionControl?.untouched?'':descriptionControl?.errors?.['required']"
                                        class="mb-2">
                                        وصف الدورة مطلوب
                                    </mat-error>
                                    <div class="grid grid-cols-12" color="green">
                                        <mat-form-field class="lg:col-span-6 col-span-12 m-1.5">
                                            <mat-label>تاريخ البداية </mat-label>
                                            <input required matInput [matDatepicker]="picker1">
                                            <mat-hint>MM/DD/YYYY</mat-hint>
                                            <mat-datepicker-toggle matIconSuffix
                                                [for]="picker1"></mat-datepicker-toggle>
                                            <mat-datepicker #picker1></mat-datepicker>
                                        </mat-form-field>

                                        <mat-form-field class="lg:col-span-6 col-span-12 m-1.5 ">
                                            <mat-label>تاريخ النهاية</mat-label>
                                            <input required matInput [matDatepicker]="picker2">
                                            <mat-hint>MM/DD/YYYY</mat-hint>
                                            <mat-datepicker-toggle matIconSuffix
                                                [for]="picker2"></mat-datepicker-toggle>
                                            <mat-datepicker #picker2></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="grid grid-cols-12 signup-input-wrapper">
                                        <mat-form-field class="w-full lg:col-span-6 col-span-12 lg:m-1.5">
                                            <mat-label>اخترالكورس</mat-label>
                                            <mat-select required name="course" formControlName="course_id">
                                                <mat-option *ngFor="let course of courses"
                                                    [value]="course.id">{{course.title}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <input required class="w-full bg-[#F5F5F5] lg:col-span-6 col-span-12 lg:m-1"
                                            formControlName="duration" type="text" placeholder="الفترة الزمنية ">
                                    </div>
                                    <section class="example-section">
                                        <mat-checkbox formControlName="is_free" class="example-margin isFree"
                                            color="">الدرس مجاني
                                        </mat-checkbox>
                                        <!-- <mat-checkbox class="example-margin" [disabled]="true">Disabled</mat-checkbox> -->
                                    </section>
                                    <div class="p-1 border mb-1 flex items-center">
                                        <label class="w-2/12">اختر الفيديو </label>
                                        <input #fileInput
                                            class="w-10/12 bg-[#F5F5F5] lg:col-span-6 col-span-12 lg:m-1 p-2"
                                            type="file" placeholder="upload" (change)="onFileSelected($event)">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                            stroke-width="1.5" stroke="red" class="w-6 h-6" (click)="clearFile()">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="m20.25 7.5-.625 10.632a2.25 2.25 0 0 1-2.247 2.118H6.622a2.25 2.25 0 0 1-2.247-2.118L3.75 7.5m6 4.125 2.25 2.25m0 0 2.25 2.25M12 13.875l2.25-2.25M12 13.875l-2.25 2.25M3.375 7.5h17.25c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125H3.375c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125Z" />
                                        </svg>

                                    </div>
                                    <div class="flex items-center justify-center  w-full">
                                        <div class="rounded-full border boreder-1 text-center"
                                            style="width: 30px;height: 30px;">أو
                                        </div>
                                    </div>
                                    <div class="p-1 border mt-1 flex items-center">
                                        <label class="w-2/12"> ادخل رابط الفيديو </label>
                                        <input required
                                            class="w-10/12 bg-[#F5F5F5] lg:col-span-6 col-span-12 lg:m-1 p-2"
                                            type="text" placeholder="upload" formControlName="video_url">
                                    </div>
                                    <div *ngIf="showProgress" class="p-2 my-2">
                                        <mat-progress-bar mode="determinate" [value]="uploadProgress">
                                        </mat-progress-bar>
                                    </div>
                                    <!-- {{lessonForm?.value | json}} -->
                                    <div class="sing-buttom mb-5" [ngClass]="{ 'invalid-btn': !lessonForm.valid}">
                                        <button [disabled]="!lessonForm.valid" class="sing-btn"
                                            [ngClass]="{ 'invalid-btn': !lessonForm.valid}" (click)="onUpload()">اضافة
                                            الدورة</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- {{lessonForm.value | json}}{{video_urlControl?.valid | json}} -->
    </div>
</div>