.descriptionInp {
    margin-bottom: 30px;
    display: flex;
    height: 55px;
    width: 100%;
    border-radius: 0.25rem;
    border-width: 0px;
    --tw-bg-opacity: 1;
    background-color: rgb(245 245 245 / var(--tw-bg-opacity));
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    font-size: 16px;
    --tw-text-opacity: 1;
    color: rgb(87 87 87 / var(--tw-text-opacity));
    outline: 2px solid transparent;
    outline-offset: 2px;
}
.invalid-btn{
    background-color: gainsboro;
}